<%-include('partials/cart.ejs')%>
    <div class="container wrapper">
        <div class="row cart-head">
            <div class="container">
            <div class="row">
                <p></p>
            </div>

            </div>
        </div>
    </div>

<%if(cart && cart.items.length >0){%>
  <main>
    <div class="basket">

      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>

        <%cart.items.forEach(function(product){%>
       <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="<%=product.image%>" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity"><%=product.qty%></span> x <%=product.name%></strong></h1>
            <p><strong>Size: <%=product.size%></strong></p>

          </div>
        </div>
        <div class="price"><%=product.price%></div>
        <div class="quantity">
          <input id = "<%=product.name%><%=product.size%>" type="number" value="<%=product.qty%>" min="1" class="quantity-field">
        </div>
        <div class="subtotal"><%=product.price*product.qty%></div>
        <div class="remove">
            <form action="/remove" method="post">
                <input type="hidden" name="id" value="<%=product.id%>">
                <input type="hidden" name="nonce" value="<%=nonce%>">
                <input type="hidden" name="size"value="<%=product.size%>">
            
          <button type="submit">Remove</button>
        </form>
        </div>
      </div>
<%})%>



 
    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Item(s) in your Bag</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal"><%=cart.totals%></div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>
        <div class="summary-delivery">

            <h1>Shipping: $10.00</h1>
        </div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total"><%=cart.formattedTotals%></div>
        </div>
        <div class="summary-checkout">
            <form action = "/updatecart" method="post">
             <%cart.items.forEach(function(product){%>
            <input id = "<%=product.name%><%=product.size%>" type="hidden" value = "<%=product.qty%>" class="update-quantity" name="quantity">
            <input type="hidden" value = "<%=product.name%>" name = "name">
            <input type="hidden" value = "<%=product.size%>" name="size"> 
        <%})%>
          <button class="checkout-cta" type="submit">Go to Secure Checkout</button>
            </form>
        </div>
      </div>
    </aside>
  </main>

<%}else{%>
    <h1 id="drip">No drip yet? Check out the <a style="color:rgb(46,157,194);" href="/shop">shop</a></h1>
<%}%>
    <script type="text/javascript" src="/javascript/popper.js"></script> 
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/cart.js"></script>
    <script type="text/javascript" src="/javascript/navbar.js"></script>
    
<%-include('partials/footer.ejs')%>


